/* BEGIN bootstrap.css overrides */
.poundcake-breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.poundcake-breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.poundcake-breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
}

.poundcake-breadcrumb .active {
  color: #999999;
}

input,
textarea,
.uneditable-input {
  width: 140px;
}

/* remove the actual HTML bullet points from LIs in navigation well */
div.well li {
    list-style-type: none;
}
/* END bootstrap.css overrides */

.map-frame {
    position: relative;
    float: center;
    width: 700px;
    box-shadow: 5px 5px 10px #888;
}

.map-frame-large {
    position: relative;
    float: center;
    width: 960px;
    box-shadow: 5px 5px 10px #888;
}

/* BEGIN - our own spacer for use with Bootstrap error messages / CakePHP Flash messages
used in may layout page */
.alert-spacer {
    display: inline-block;
    /*height: 50px;
    overflow:hidden;
    color: #38b44a;*/
    opacity:0;
    display: table;
    margin: 0 auto;
}
/* align status icons with text */
.status-icon {
    /*text-align: text-bottom; */
    vertical-align: text-bottom;
}
.status-icon img{
    vertical-align: text-bottom;
}
/* END - our own spacer */

/* BEGIN - this is the shaded gray that forms the key for the checkboxes on the Google map */
.item {
    padding: 1em;
    margin: 0 0 2em;
}

.shadow {
    -moz-box-shadow: 0px 2px 4px #999;
    -webkit-box-shadow: 0px 2px 4px #999;
    box-shadow: 0px 2px 4px #999;
}

.rounded {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.gradient {
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea));
    background: -moz-linear-gradient(top, #fff, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)";
}
/* END - shaded gray key */

/* BEGIN - Remove the up/down arrows from number input fields (so
the numbers don't scroll from mouse wheel when focus is gained) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* END - Remove up/down arrows */

/* BEGIN - Our own table formatting (used in index listings) */
.table th.index-action,
.table td.index-action {
    text-align: center;
    white-space: nowrap;
}

.table th.index-item,
.table td.index-item {
    width: 100%;
    white-space: nowrap;
}

.table th.index-status,
.table td.index-status {
    width: auto;
    white-space: nowrap;
}
/* END - Our own table formatting */
